.titre1
{
    border: solid #2574a9;  
    background-color: #2574a9;
       
}
#infoPerso
{
    background-color: #2574a9;
    border-top: solid grey;
    border-left: solid grey;
}
.titre2
{
    background-color: #9a12b3;  
    
}
#livraison
{
    background-color: #9a12b3;
    border-top: solid grey;
    border-left: solid grey;
}
textarea
{
    line-height: 3;
    width: 120px;
}
.titre3
{
    background-color: #db0a5b;
    
}
#paiement
{
    background-color: #db0a5b;
    border-top: solid grey;
    border-left: solid grey;
}
ul
{
    list-style-type: none;
}